:root {
   --title-font: 'Righteous', cursive;
   --paragraph-font: 'Roboto Condensed', sans-serif;
}

body {
   margin: 0 auto;
}

.container {
   background-color: #3c9099;
   text-align: center;
   max-width: 100%;
   font-family: var(--paragraph-font);
}

#title {
   color: #f0efe2;
   font-family: var(--title-font);
   font-size: 3.5em;
   margin-top: 0;
   padding-top: 40px;
}

#description{
   color: #e3e2c3;
   font-size: 1.5em;
}


.web {
   color: #ea9c1b;
}

.help {
    display: block;
   font-style: italic;
   font-size: 0.9em;
}

.form-wrapper {
   background-color: #e3e2c3;
   padding-top: 25px;
   padding-bottom: 25px;
}

.detail-row {
   margin: 5px auto;
   padding-top: 5px;
   display: grid;
   grid-auto-columns: 1fr 1fr;
   grid-gap: 10px;
   width: 60%;
}

.left-row {
   text-align: left;
}

.right-row {
   display: block;
   height: 35px;
}

.detail-row {
   margin-top: 25px;
}

.order-row {
   list-style: none;
   text-align: left;
}

.middle-row {
   white-space: nowrap;
   margin-left: 20px;
}

.list-row {
   display: block;
   margin-left: 100px;
   float: left;
}

@media screen and (max-width: 640px) {
   .list-row {
      margin-left: auto;
   }
}

#message {
   height: 250px;
}

#submit {
   margin: 25px 0;
   height: 50px;
   width: 150px;
   background-color: #3c9099;
   color: #e3e2c3;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   box-shadow: 4px 4px 20px #ea9c1b;
} 

#submit:hover {
   background-color: chocolate;
   color: #e3e2c3;
}

@media screen and (max-width: 640px) {
   #title {
      font-size: 2.8em;
   }

   #description {
      font-size: 1.2em;
      padding: 0 10px;
   }

   #submit {
      height: 35px;
      width: 90px;
   }
